<%= form_with(model: proof, local: true) do |form| %>
    <% if proof.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(proof.errors.count, "error") %> 
                    prohibited this proof from being saved:
            </h2>
            <ul>
                <% proof.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :abbreviation, class: "form-label" %>
        <%= form.text_field :abbreviation, class: "form-control" %>
    </div>
    <div class="field mt-1">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
    </div>
    <div class="actions">
        <%= form.submit :Save, class: "btn btn-primary mt-3" %>
        <%= link_to 'Back', proofs_path(@proof), class: "btn btn-primary mt-3" %>
    </div>

<% end %>