<header class="text-end">
    <h3>
        >> Proofs catalogue <%= link_to icon('fa-solid', 'square-plus', class:'fa-1x'), new_proof_path %>
    </h3>
</header>


<table class="table table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Short Name</th>
            <th>Description</th>
            <th colspan="2" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @proofs.each do |proof| %>
            <tr>
                <td><%= proof.abbreviation %></td>
                <td><%= proof.description %></td>                
                <td class="text-center"><%= link_to icon('fa-solid', 'pencil'), edit_proof_path(proof) %></td>
                <td class="text-center"><%= link_to icon('fa-solid', 'trash'), proof, method: :delete %></td>
            </tr>
        <% end %>
        <tr>
        <td colspan="4" class="align-text-middle">
            <%= link_to icon('fa-solid', 'square-plus', class:'fa-1x'), new_proof_path %> Add
        </td>
    </tbody>
</table>
